<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="css/styles.css" type="text/css" />
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="margin:-10px;position:absolute">
<img src="images/shopdirect_header.png" style="width: 1499px;
    height: 100px;">
    
</div>
<div style="position: absolute;z-index: 10;margin-left: 450px; margin-top:20px;">
   
   <input type="text" placeholder="Search for a store or products" id="search_input" style="
    width: 500px;
    height: 30px;
    border: 1px solid black;text-align:center;">
    <button type="submit" style="
    width: 50px;
    height: 35px;
    background: center;
    margin-right: -100px;
"><i class="fa fa-search"></i></button>
</div>
</head>
<body>
<hr />
<div>
</div>
</body>
</html>
